
.logobox img {
	max-width: 250px;
	margin: 0 auto;
}

.logobox p {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

.logo-cms {
	/* font-family: 'Ubuntu Condensed', sans-serif; */
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	text-overflow: ellipsis;
	text-decoration: none;
	line-height: 40px;
}
a.logo-cms:hover {
	text-overflow: ellipsis;
	text-decoration: none;
	color: #fff;
}

.last-bottom {
	vertical-align: bottom
}

.capitalize {
	text-transform: capitalize;
}


.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.right {
	text-align: right;
}

#map-canvas {
	width: 100%;
	height: 300px;
}


#searchmap {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#searchmap:focus {
	border-color: #4d90fe;
}

.img-sourcepartner {
	margin-top: 30px;
	text-align: center;
}

.img-sourcepartners {
	max-width: 100px;
}

.sourcepartners-name {
	margin-left: 5px;
}

#elm1 {
	width: 100%;
}

textarea {
	font-family: Verdana;
}
.img-blog {
	text-align: center;
}

.push-right {
	margin-left: 10px;
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.profile-badge  {
	line-height: 60px !important;
	font-size: 30px !important;
}


button.manageSlideBtn {
	background:none!important;
	color:inherit;
	border:none;
	padding:0!important;
	font: inherit;
	cursor: pointer;
}

.manageSlideBtn {
	display: inline-block;
	float: left;
	text-decoration:none !important;
	color: #666;
}

.manageSlideBtn:hover{
	color: #f5a532;
}

a.manageSlideBtn:after{
	content: '|';
	padding:0 5px;
	color: #666;
	text-decoration: none;
}

a.manageSlideBtn:last-child:after{
	content: '';
	padding:0 0px;
}

.inlineForm {
	display: inline-block;
	float: left;
}

.logo {
	max-width: 30px;
	margin-right: 10px;
}
.admin_lang {
	display: inline-block;
	float: left;
	margin: 0 10px;
	padding: 0;
	list-style: none;
}

.admin_lang li {
	display: inline-block;
	float: left;
}

.admin_lang li a {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 13px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	text-transform: uppercase;
}

.admin_lang li a:hover {
	background: #eee;
	color: #000;
}

.admin_lang li a.lngActv {
	background: #eee;
	color: #000;
}